.allWorldCasesAndRecovered {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0;
}

.lineChart {
  display: flex;
  flex: 1 0 auto;
  margin: 0;
  padding: 0 1rem;
  width: 800px;
  height: 250px;
}


@supports (display: flex) {
  @media all and (max-width: 1440px) and (min-width: 820px) {

    .lineChart {
      display: flex;
      flex: 1 0 auto;
      width: 750px;
    }

  }
}

@supports (display: flex) {
  @media all and (max-width: 819px) and (min-width: 640px) {

    .lineChart {
      width: 550px;
      height: 250px;
    }
    .dataText {
      padding-left: 0;
    }

  }
}


@supports (display: flex) {
  @media all and (max-width: 639px) and (min-width: 421px) and (orientation: landscape) {

    .lineChart {
      width: 400px;
      height: 250px;
    }
    .dataText {
      padding-left: 0;
    }

  }
}

@supports (display: flex) {
  @media all and (max-width: 420px) and (orientation: portrait){

    .lineChart {
      width: 320px;
      height: 250px;
    }

  }
}
