.country {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0;
  padding: 2rem;
}

.dataText {
  display: flex;
  flex-direction: column;
}

select {
  font-size: 16px;
  border: 1px solid gray;
  -moz-text-align-last: center;
  text-rendering: optimizeSpeed;
  cursor: pointer;
  text-align-last: left;
}

select:hover {
  border-bottom: 1px solid darkred;
}

select:focus {
  outline-color: white;
}

.input__select {
  color: hsl(340, 90%, 4%);
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  padding-right: 1rem;
}

option {
  text-align: right;
}

@supports (display: flex) {
  @media all and (max-width: 1440px) and (min-width: 769px) {

    .country {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 2rem;
      align-self: start;
    }

  }
}

@supports (display: flex) {
  @media all and (max-width: 768px) and (min-width: 640px) {

    .country {
      flex-wrap: wrap;
      padding: 0;
      flex-direction: column;
      align-items: center;
    }

    .dataText {
      align-items: center;
      padding: 0;
      width: 600px;
    }

    .input__select {
      color: hsl(340, 90%, 4%);
      text-align: start;
      font-size: 16px;
      font-weight: inherit;
      padding-right: 0;
    }

  }
}


@supports (display: flex) {
  @media all and (max-width: 639px) and (min-width: 421px)and (orientation: portrait)  {

    .country {
      flex-wrap: wrap;
      padding: 0;
    }

    .dataText {
      padding: 0;
      width: 400px;
    }

    .input__select {
      color: hsl(340, 90%, 4%);
      text-align: start;
      font-size: 16px;
      font-weight: inherit;
      padding-right: 0;
    }

  }
}


@supports (display: flex) {
  @media all and (max-width: 420px) and (orientation: portrait){

    .country {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }

    .dataText {
      padding: 0;
      width: 100%;
    }

    .input__select {
      color: hsl(340, 90%, 4%);
      font-size: 16px;
      font-weight: lighter;
      padding-right: 1rem;
      width: 300px;
    }

    .dataText h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .dataText > p {
      text-align: center;
    }

  }
}
