.barChart {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 400px;
}

.topTen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media all and (max-width: 1280px) and (min-width: 861px){
  .barChart {
    width: 300px;
  }
  .topTen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@supports (display: flex) {

}@media all and (max-width: 860px) and (min-width: 421px) and (orientation: landscape){
  .barChart {
    width: 600px;
  }
  .topTen {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .topTen h3 {
    text-align: center;
  }
}


@supports (display: flex) {
  @media all and (max-width: 420px) and (orientation: portrait){
    .barChart {
      width: 350px;
    }
    .topTen {
      display: flex;
      flex-direction: column;
      align-self: start;
    }
    .topTen h3 {
      text-align: center;
    }
  }
}