.barChart {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-bottom: 1rem;
}

.topTen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@supports (display: flex) {
  @media all and (max-width: 1440px) and (min-width: 820px) {

    .barChart {
      width: 500px;
      padding: 0 3rem;
      align-items: center;
    }
    .topTen {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:flex-start;
    }

  }
}

@supports (display: flex) {
  @media all and (max-width: 819px) and (min-width: 640px) {

    .barChart {
      width: 580px;
    }
    .topTen {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-self: center;
    }
    .topTen h3 {
      text-align: center;
    }

  }
}


@supports (display: flex) {
  @media all and (max-width: 639px) and (min-width: 421px) and (orientation: landscape) {

    .barChart {
      width: 500px;
    }
    .topTen {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .topTen h3 {
      text-align: center;
    }


  }
}

@supports (display: flex) {
  @media all and (max-width: 420px) and (orientation: portrait){

    .barChart {
      width: 340px;
      align-self: center;
    }
    .topTen {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .topTen h3 {
      text-align: center;
    }

  }
}